#choice-champ-header {
    grid-column: 3/16;
    width: 100%;
}

#categories {
    grid-column: 1/19;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
    padding-top: 0px;
    justify-items: center;
    margin-top: 0;
}

#tv {
    border: #F04C53 2px solid;
}

#game {
    border: #2482C5 2px solid;
}

#board {
    border: #45B859 2px solid;
}

@media only screen and (min-width: 800px) {
    #categories {
        grid-column: 4/15;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    #choice-champ-header {
        grid-column: 6/13;
        width: 100%;
    }
}

@media only screen and (min-width: 1800px) {
    #choice-champ-header {
        grid-column: 6/13;
        width: 100%;
    }
}