.settings-home {
    width: 100%;
    grid-column: 3/16;
    display: grid;
    justify-items: center;
}

.modal-header {
    color: white;
    text-align: center;
}

.dialog-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

.dialog-buttons {
    display: grid;
    justify-items: center;
}

.MuiPaper-root {
    background-color: rgb(27, 26, 26) !important;
}

.dialog-sub-content {
    width: 100%;
    grid-column: 3/16;
    padding: 0;
    margin: 0;
}

.btn-delete {
    background-color: rgb(241, 48, 48);
    color: white;
}

.settings-attribution {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-row-gap: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
}

.settings-attribution-logo {
    grid-column: 1/7;
    width: 100%;
}

.settings-attribution-text {
    margin: 0;
    padding: 0;
    grid-column: 8/18;
    font-size: 8pt;
}

.flaticon-link {
    font-size: 8pt;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    align-items: center;
    justify-items: center;
}

.flaticon-link img {
    width: 100%;
    grid-column: 1/3;
}

.flaticon-link a {
    color: white;
    grid-column: 4/18;
}

.storyset-link {
    font-size: 8pt;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    align-items: center;
    justify-items: center;
}

.storyset-link img {
    width: 100%;
    grid-column: 1/10;
}

.storyset-link a {
    color: white;
    grid-column: 10/18;
}

@media only screen and (min-width: 1000px) {
    .settings-attribution-logo {
        grid-column: 4/7;
    }

    .settings-attribution-text {
        grid-column: 8/16;
        font-size: 9pt;
    }

    .btn-delete {
        width: 50%;
    }

    .btn-logout {
        width: 50%;
    }

    .btn-cancel {
        width: 50%;
    }
}

@media only screen and (min-width: 1600px) {
    .settings-attribution-logo {
        grid-column: 6/8;
    }

    .settings-attribution-text {
        grid-column: 9/13;
        font-size: 9pt;
    }
}