
.dialog-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

.MuiPaper-root {
    background-color: rgb(27, 26, 26) !important;
}

.dialog-sub-content {
    width: 100%;
    grid-column: 3/16;
    padding: 0;
    margin: 0;
}

.search-results {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    row-gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.search-result {
    width: 100%;
    grid-column: 1/18;
    height: 50vh;
    display: grid;
    align-items: end;
}

.search-result p {
    box-sizing: border-box;
    display: grid;
    align-content: center;
    width: 100%;
    height: 10vh;
    color: #FCB016;
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: rgba(17, 17, 17, 0.877);
}