.category {
    grid-column: 7/15;
    width: 90%;
    height: 35vw;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    color: white;
}

.category-overlay {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.335);
    border: solid 5px #FCB016;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .category-img {
    width: 50%;
    margin-bottom: 10px;
  }

@media only screen and (min-width: 1000px) {
    .category {
        width: 100%;
        grid-column: auto;
        height: 20vw;
    }
}