button {
    width: 100%;
    color: #312E2E;
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #FCB016;

    font-weight: 400;
    font-size: 12pt;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}