input {
    width: 100%;
    background-color: #312E2E;
    color: white;
    border-radius: 10px;
    border: solid 1px white;
    padding: 15px;
    margin-top: 20px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.698);
}