.details-img {
    grid-column: 1/18;
    height: auto;
    width: 90%;
    border-radius: 22px;
    margin-top: 20px;
}

.details-title {
    grid-column: 3/16;
    font-size: 18pt;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

.details-overview p {
    width: 100%;
    font-size: 11pt;
}

.providers-not-available {
    grid-column: 3/16;
    width: 100%;
    margin-top: 10px;
}

.details-provider-list-section {
    display: grid;
    grid-column: 3/16;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
    justify-items: center;
}

.provider-img-section {
    width: 90%;
    border-radius: 15px;
}

.details-provider-title {
    grid-column: 3/16;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

.details-section {
    grid-column: 3/16;
    width: 100%;
    margin-top: 20px;
}

.details-section-title {
    margin-right: 10px;
    font-weight: bold
}

.details-platforms {
    grid-column: 3/16;
    width: 100%;
}

.collections-list {
    grid-column: 3/16;
    margin-top: 30px;
    width: 100%;
}

.collection-item {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    margin-top: 20px;
    align-items: center;
    align-self: center;
    justify-self: center;
    border-bottom: 1px solid #666666;
    padding-bottom: 10px;
}

.collections-list-title {
    font-weight: bold;
}

.collection-item-title {
    font-weight: bold;
    grid-column: 1/12;
    width: 100%;
}

.colleciton-item-status {
    grid-column: 12/18;
    align-self: center;
    justify-self: right;
    width: 30%;

}

#content-details {
    grid-column: 3/16;
    display: grid;
    justify-items: center;
    width: 100%;
    
}

@media only screen and (min-width: 500px) {
    .details-img {
        width: 60%;
    }
}

@media only screen and (min-width: 700px) {
    .details-img {
        width: 55%;
    }
}

@media only screen and (min-width: 900px) {
    #content-details {
        width: 70%;
    }

    .details-provider-list {
        grid-template-columns: repeat(7, 1fr);
    }

    .collections-list {
        width: 70%;
    }

    .details-img {
        width: 45%;
    }

    .colleciton-item-status {
        width: 20%;
    }
}

@media only screen and (min-width: 1600px) {
    .details-img {
        width: 60%;
    }
}