.Toastify__toast {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
}

.Toastify__toast-body {
    align-items: center;
    grid-column: 1/10;
}

.Toastify__close-button {
    margin: 0;
    grid-column: 12/13;
    align-self: center;
    justify-self: center;
}

:root {
    --toastify-color-success: #FCB016;
    --toastify-color-progress-dark: #FCB016;
}

.item-title {
    height: 100% !important;
    border-radius: 9px !important;
}

.loading-save {
    position: absolute;
    width: auto;
    height: auto;
    top: 15px;
    right: 5px;
}

.no-match {
    grid-column: 1/18;
    margin-top: 50px;
    font-weight: bold;
    color: #FCB016;
}

@media only screen and (min-width: 900px) {
    .save-icon {
        width: 10%;
    }

    .loading-save {
        width: 30%;
    }
}

@media only screen and (min-width: 1200px) {
    .save-icon {
        width: 7%;
        right: 50px;
        top: 20px;
    }

    .loading-save {
        width: 25%;
    }
}