.Toastify__toast {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
}

.Toastify__toast-body {
    align-items: center;
    grid-column: 1/10;
}

.Toastify__close-button {
    margin: 0;
    grid-column: 10/13;
    align-self: center;
}

:root {
    --toastify-color-success: #FCB016;
}

.save-icon {
    width: 70px;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 100;
}

.save-icon:hover {
    cursor: pointer;
}

.item-title {
    height: 100% !important;
    border-radius: 9px !important;
}

@media only screen and (min-width: 900px) {
    .save-icon {
        width: 10%;
    }
}

@media only screen and (min-width: 1200px) {
    .save-icon {
        width: 7%;
        right: 50px;
        top: 20px;
    }
}