footer {
    width: 100%;
    background-color: #000000;
    height: 10vh;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding-top: 10px;
}

.active {
    color: #FCB016 !important;
}

p.footer-text {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 9pt;
}

p.active {
    color: #FCB016;
}

#collections {
    grid-column: 1/4;
}

#party {
    grid-column: 4/7;
}

#settings {
    grid-column: 7/10;
}

@media only screen and (min-width: 1200px) {
    footer {
        bottom: 20px;
        border-radius: 20px;
        width: 100%;
    }
  }

