.create-party-collections {
    grid-column: 2/17;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    justify-items: center;
}

.create-party-collection {
    width: 100%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(255, 255, 255, 0.349);
    border-radius: 15px;
    padding: 20px 10px;
    margin-top: 15px;
}

.list-loading-create {
    grid-column: 1/3;
}

.create-party-collection-name {
    width: 100%;
    color: white;
}

.create-party-btn {
    grid-column: 2/17;
    width: 100%;
}

.no-collections-found {
    grid-column: 1/3;
    text-align: center;
    font-size: 16pt;
    font-weight: 300;
    color: #FCB016;
}

.select-alert {
    grid-column: 1/18;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    font-weight: 300;
    margin-top: 20px;
}

.option-text {
    grid-column: 2/9;
    text-align: left;
    font-weight: bold;
    width: 100%;
}

.option-subtext {
    grid-column: 2/14;
    text-align: left;
    margin: 0;
    font-size: 9pt;
    color: grey;
    margin-bottom: 10px;
    width: 100%;
}

.option-img {
    grid-column: 15/17;
    grid-row: span 2;
    width: 80%;
    cursor: pointer;
}

.create-divider {
    width: 100%;
    grid-column: 2/17;
    height: 1px;
    background-color: #FCB016;
    margin-top: 20px;
    margin-bottom: 20px;
}

.media-type-btn {
    grid-column: 2 / 17;
    background-color: #312E2E;
    color: white !important;
}

.movie {
    border: solid 1px #FCB016;
}

.active-movie-fill {
    background-color: #FCB016 !important;
}

.tv {
    border: solid 1px #F04C53;
}

.active-tv-fill {
    background-color: #F04C53 !important;
}

.game {
    border: solid 1px #2482C5;
}

.active-game-fill {
    background-color: #2482C5 !important;
}

.board {
    border: solid 1px #45B859;
}

.active-board-fill {
    background-color: #45B859 !important;
}

@media screen and (min-width: 1000px) {
    .media-type-btn {
        grid-column: 6/13;
    }
    
    .create-party-collections {
        grid-column: 6/13;
    }

    .create-party-btn {
        grid-column: 6/13;
    }

    .option-text {
        grid-column: 6/12;
    }

    .option-subtext {
        grid-column: 6/12;
        font-size: 9pt;
    }

    .option-img {
        grid-column: 12;
        width: 70%;
    }

    .radio-btn-label {
        grid-column: 8/10;
    }
    
    .radio-btn {
        grid-column: 10;
    }
}

