.create-party-collections {
    grid-column: 2/17;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    justify-items: center;
}

.create-party-collection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    border: solid 2px rgba(255, 255, 255, 0.349);
    border-radius: 15px;
    padding: 20px 10px;
    margin-top: 15px;
}

.list-loading-create {
    grid-column: 1/3;
}

.create-party-selectable {
    grid-column: 1/5;
    width: 100%;
}

.create-party-collection-name {
    grid-column: 6/13;
    width: 100%;
    font-weight: 300;
}

.create-party-btn {
    grid-column: 2/17;
    width: 100%;
}

.radio-btns {
    grid-column: 1/18;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;
    margin-bottom: 20px;
}

.radio-btn-label {
    grid-column: 4/12;
    text-align: center;
    margin-bottom: 30px;
}

.radio-btn {
    grid-column: 12/14;
    margin: 0;
    accent-color: #FCB016;
    font-size: 18pt;
    margin-bottom: 30px;
}

.no-collections-found {
    grid-column: 1/3;
    text-align: center;
    font-size: 16pt;
    font-weight: 300;
    color: #FCB016;
}

.select-alert {
    grid-column: 1/18;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    font-weight: 300;
    margin-top: 20px;
}

.option-text {
    grid-column: 4/12;
    text-align: center;
    font-weight: bold;
}

.option-subtext {
    grid-column: 4/14;
    text-align: center;
    margin: 0;
    font-size: 9pt;
    color: grey;
    margin-bottom: 10px;
}

.option-img {
    grid-column: 12/14;
    width: 70%;
    cursor: pointer;
}

.create-divider {
    width: 100%;
    grid-column: 2/17;
    height: 1px;
    background-color: #FCB016;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
    .option-img {
        width: 40%;
    }

    .create-party-selectable {
        width: 60%;
    }
}

@media screen and (min-width: 1000px) {
    .create-party-collections {
        grid-column: 6/13;
    }

    .create-party-selectable {
        grid-column: 1/3;
        width: 100%;
    }

    .create-party-btn {
        grid-column: 6/13;
    }

    .option-text {
        grid-column: 8/10;
    }

    .option-subtext {
        grid-column: 8/11;
        font-size: 9pt;
    }

    .radio-btn-label {
        grid-column: 8/10;
    }
    
    .radio-btn {
        grid-column: 10;
    }

    .option-img {
        width: 50%;
        grid-column: 10;
    }
}

@media screen and (min-width: 1400px) {
    .option-img {
        grid-column: 10;
        margin-bottom: 10px;
        width: 40%;
    }
}

