.create-party-collections {
    grid-column: 2/17;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    justify-items: center;
}

.create-party-collection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    border: solid 2px rgba(255, 255, 255, 0.349);
    border-radius: 15px;
    padding: 20px 10px;
    margin-top: 15px;
}

.list-loading-create {
    grid-column: 1/3;
}

.create-party-selectable {
    grid-column: 1/5;
    width: 100%;
}

.create-party-collection-name {
    grid-column: 6/13;
    width: 100%;
    font-weight: 300;
}

.create-party-btn {
    grid-column: 2/17;
    width: 100%;
}

.radio-btns {
    grid-column: 1/18;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;
    margin-bottom: 20px;
}

.radio-btns label {
    grid-column: 3/9;
    text-align: right;
}

.radio-btns input {
    grid-column: 9;
    margin: 0;
    accent-color: #FCB016;
    font-size: 18pt;
}

.no-collections-found {
    grid-column: 1/3;
    text-align: center;
    font-size: 16pt;
    font-weight: 300;
    color: #FCB016;
}

.select-alert {
    grid-column: 1/18;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    font-weight: 300;
    margin-top: 20px;
}

.secret-mode {
    grid-column: 1/18;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

.secret-mode p {
    grid-column: 3/9;
    text-align: center;
    font-weight: bold;
}

.secret-mode img {
    grid-column: 9;
    width: 100%;
    cursor: pointer;
}

.include-watched {
    grid-column: 1/18;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
}

.include-watched p {
    grid-column: 3/9;
    text-align: center;
    font-weight: bold;
}

.include-watched img {
    grid-column: 9;
    width: 100%;
    cursor: pointer;
}

.create-divider {
    width: 100%;
    grid-column: 2/17;
    height: 1px;
    background-color: #FCB016;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
    .create-party-collections {
        grid-column: 6/13;
    }

    .create-party-selectable {
        grid-column: 1/3;
    }

    .create-party-btn {
        grid-column: 6/13;
    }
}

