
#join-party-page {
    grid-column: 3/16;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-column: repeat(17, 1fr);
}

#join-party-page input {
    grid-column: 1/18;
    width: 100%;
}

.join-img {
    width: 80%;
    margin-top: 18vh;
    grid-column: 2/17;
}

.join-btn {
    width: 100%;
    grid-column: 1/18;
}

.join-party-error-msg {
    text-align: center;
    grid-column: 1/18;
}

@media only screen and (min-width: 500px) {
    .join-img {
        width: 30%;
    }
}

@media only screen and (min-width: 1200px) {
    #join-party-page input {
        width: 40%;
    }

    .join-img {
        width: 40%;
    }

    .join-btn {
        width: 40%;
    }
}

@media only screen and (min-width: 1600px) {
    #join-party-page input {
        width: 30%;
    }

    .join-btn {
        width: 30%;
    }
}