.party-home {
    width: 100%;
    grid-column: 3/16;
    display: grid;
    justify-items: center;
    text-decoration: none;
}

.party-img {
    margin-top: 30px;
    grid-column: 2/17;
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .party-img {
        width: 30%;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 700px) {
    .party-img {
        width: 35%;
    }
}

@media only screen and (min-width: 1200px) {
    .party-img {
        width: 40%;
    }

    .party-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 1600px) {
    .party-img {
        width: 50%;
    }
}