.party-wait-code {
    grid-column: 1/18;
    font-size: 18pt;
    margin-top: 5vh;
}

.party-wait-count {
    grid-column: 1/18;
    font-size: 14pt;
    margin-top: 50px;
}

.party-wait-count-num {
    font-weight: bold;
    color: #FCB016;
    margin-left: 10px;
    font-size: 18pt;
}

#waiting-img {
    grid-column: 1/18;
}

.party-wait-start-btn {
    grid-column: 1/18;
    margin-top: 50px;
    width: 50%;
}

@media only screen and (min-width: 500px) {
    #waiting-img {
        width: 80%;
    }
}

@media only screen and (min-width: 700px) {
    #waiting-img {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    #waiting-img {
        width: 40%;
    }

    .party-btn {
        width: 70%;
        grid-column: 1/18;
    }
}

@media only screen and (min-width: 1600px) {
    #waiting-img {
        width: 30%;
    }

    .party-wait-start-btn {
        width: 20%;
    }
}