.Toastify__toast {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
}

.Toastify__toast-body {
    align-items: center;
    grid-column: 1/10;
}

.Toastify__close-button {
    margin: 0;
    grid-column: 10/13;
    align-self: center;
}

:root {
    --toastify-color-success: #FCB016;
}

.filter-collection-btn {
    position: fixed;
    bottom: 10px;
    width: 90%;
    left: 5%;
    z-index: 100;
}

.collection-content-other {
    box-sizing: border-box;
    grid-column: 1/18;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 20px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.collection-content-game {
    box-sizing: border-box;
    grid-column: 1/18;
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    justify-items: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 20px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.item-section {
    width: 100%;
    column-count: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: bold;
    align-items: center;
    justify-items: center;
    position: relative;
}

.winner {
    width: 100%;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: bold;
    align-items: center;
    justify-items: center;
    position: relative;
}

.winner-img {
    height: 55vh;
    width: 85%;
    grid-column: 1/4;
    border: #FCB016 solid 5px;
    border-radius: 22px;
}

.winner-img-game {
    height: 35vh;
    width: 100%;
    grid-column: 1/4;
    border: #FCB016 solid 5px;
    border-radius: 22px;
}

.winner-title {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    color: white;
}

.winner-banner {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    font-size: 21pt;
    color: #FCB016;
    margin: 0;
    margin-bottom: 150px;
}

.runner-up-title {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    font-size: 18pt;
    color: #FCB016;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
}

.runner-up {
    text-align: center;
    grid-column: 1/4;
    font-size: 10pt;
    margin: 0;
}

.item-img {
    height: 30vh;
    width: 100%;
    grid-column: 1/4;
    display: grid;
    align-items: end;
}

.item-section p {
    box-sizing: border-box;
    display: grid;
    align-content: center;
    grid-column: 1/4;
    width: 100%;
    height: 10vh;
    color: #FCB016;
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: rgba(17, 17, 17, 0.877);
}

.item-votes {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.877);
    color: black;
    background-color: #FCB016;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.votes-needed-section {
    grid-column: 4/15;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.votes-needed-section p {
    grid-column: 1/3;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #FCB016;
    font-size: 14pt;
    margin: 0;
}

.votes-needed-section input {
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(17, 17, 17, 0.877);
    color: #FCB016;
    text-align: center;
    font-weight: bold;
    grid-column: 1/3;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16pt;
}

@media only screen and (min-width: 700px) {
    .collection-content-other {
        grid-template-columns: repeat(3, 1fr);
    }

    .winner {
        width: 100%;
        grid-column: 1/4;
    }

    .winner-img {
        width: 50%;
    }

    .winner-img-game {
        width: 60%;
    }
}

@media only screen and (min-width: 900px) {
    .collection-content-other {
        grid-template-columns: repeat(4, 1fr);
    }

    .winner {
        width: 100%;
        grid-column: 1/5;
    }

    .winner-img {
        width: 40%;
    }

    .winner-img-game {
        width: 50%;
    }
}

@media only screen and (min-width: 1600px) {
    .collection-content-other {
        grid-template-columns: repeat(5, 1fr);
        margin-left: 300px;
        margin-right: 300px;
    }

    .winner {
        width: 100%;
        grid-column: 1/6;
    }

    .winner-img {
        width: 20%;
    }

    .winner-img-game {
        width: 30%;
    }
}