.party-home {
    width: 100%;
    grid-column: 3/16;
    display: grid;
    justify-items: center;
    text-decoration: none;
}

.party-img {
    margin-top: 15vh;
    margin-bottom: 10px;
    grid-column: 2/17;
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .party-img {
        width: 60%;
        margin-top: 15vh;
    }

    .party-btn {
        width: 50%;
    }
}