.collections-content {
    margin-top: 20px;
}

.collections-content {
    box-sizing: border-box;
    grid-column: 1/18;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.collections-item {
    width: 100%;
    height: 20vh;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    background-color: rgb(27, 27, 27);
    position: relative;
    text-decoration: none;
}

.collection-text {
    font-size: 12pt;
    font-weight: bold;
    color: #FCB016;
    text-align: center;
}

.dialog-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

.MuiPaper-root {
    background-color: rgb(27, 26, 26) !important;
}

.dialog-sub-content {
    width: 100%;
    grid-column: 3/16;
    padding: 0;
    margin: 0;
}

.or {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .collections-content {
        grid-template-columns: repeat(4, 1fr);
    }
}