@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: #312E2E;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 100;
}

p {
  font-weight: 300;
  font-size: 12pt;
}

input {
  width: 100%;
  background-color: #312E2E;
  color: white;
  border-radius: 10px;
  border: solid 1px white;
  padding: 15px;
  margin-top: 20px;
  font-size: 14pt;
}

#download-banner {
  position: fixed;
  bottom: 10vh;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-items: right;
  align-items: center;
  padding: 5px;
  width: 100%;
  background-color: #FCB016;
  z-index: 100;
  left: -100vw;
}

#install-prompt {
  grid-column: 1/8;
  font-size: 9pt;
  font-weight: bold;
}

#install-yes {
  grid-column: 8/11;
  font-size: 10pt;
}

#install-yes:hover {
  cursor: pointer;
}

#install-later {
  grid-column: 11/14;
  font-size: 10pt;
}

#install-later:hover {
  cursor: pointer;
}

#install-never {
  grid-column: 14/17;
  font-size: 10pt;
}

#install-never:hover {
  cursor: pointer;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 200px;
}

.top-left {
  grid-column: 2/4;
  width: 90%;
}

.title {
  grid-column: 4/15;
  font-weight: 300;
  text-align: center;
}

.edit {
  grid-column: 15/17;
  width: 90%;
}

.item-action {
  position: absolute;
  width: 25%;
  height: auto;
  top: 5px;
  right: 5px;
}

.item-action-game {
  position: absolute;
  width: 15%;
  height: auto;
  top: 5px;
  right: 5px;
}

.add {
    grid-column: 8/11;
    width: 70%;
    margin-top: 20px;
}

.add img {
  width: 100%;
}

.page-loading {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.list-loading {
  grid-column: 1/18;
  margin-top: 50px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.698);
}

.error {
  margin-top: 15px;
  color: rgb(161, 161, 161);
}

.offline-msg {
  grid-column: 5/14;
  text-align: center;
  justify-self: center;
  height: 80vh;
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16pt;
}

@media only screen and (min-width: 800px) {

  .top-left {
    width: 40%;
  }

  .edit {
    width: 40%;
  }

  .add {
    width: 30%;
  }

  #download-banner {
    justify-items: center;
  }

  #install-prompt {
    font-size: 12pt;
    grid-column: 5/8;
  }
  
  #install-yes {
    font-size: 12pt;
    grid-column: 11;
  }
  
  #install-later {
    font-size: 12pt;
    grid-column: 12;
  }
  
  #install-never {
    font-size: 12pt;
    grid-column: 13;
  }
}