

.welcome {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.welcome-img {
    margin-top: 50px;
    grid-column: 2/17;
    width: 100%;
}

#slider {
    grid-column: 9;
}

#slider-path {
    transition: all .5s ease-in;
}

#slider-rect {
    transition: all .5s ease-in;
}

#divider {
    width: 33vw;
    border-bottom: solid 7px #FCB016;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    left: 33vw;
}

.rect-translate {
    transform: translateX(-32px);
}

.welcome-header {
    grid-column: 2/17;
}

p.welcome-text {
    grid-column: 4/15;
    font-weight: 300;
    font-size: 12pt;
    margin-top: 0;
}

.welcome-list {
    grid-column: 3/16;
    font-weight: 300;
    font-size: 13pt;
    text-align: start;
    margin-top: 0;
}

button {
    grid-column: 2/17;
}

@media (min-width: 600px) {
    .welcome-img {
        grid-column: 5/14;
    }

    button {
        grid-column: 5/14;
    }
}

@media (min-width: 1000px) {
    .welcome-img {
        grid-column: 7/12;
    }

    button {
        grid-column: 7/12;
    }
}

@media (min-width: 2500px) {
    .welcome-img {
        grid-column: 8/11;
    }

    button {
        grid-column: 8/11;
    }
}